* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Monument - Regular';
    src: url('./public/fonts/MonumentExtended-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Monument - UltraBold';
    src: url('./public/fonts/MonumentExtended-Ultrabold.otf') format('opentype');
}

body {
    overflow-x: hidden;
    width: 100vw;
    min-height: 100vh;
}

.video-bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -9;
}

.video-bg video {
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
}

.mascara {
    height: 200vh;
    width: 100vw;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    position: fixed;
    top: 0;
}

.whatsapp {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-whats {
    width: 60px;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
}

.link-whats:hover {
    width: 70px;
}

header {
    background-color: #000;
    width: 100%;
    height: 80px;
    position: fixed;
    display: flex;
    align-items: center;
    gap: 50px;

    .mobile-menu {
        display: none;
        cursor: pointer;
    }

    .mobile-menu div {
        width: 32px;
        height: 2px;
        background: #fff;
        margin: 8px;
        transition: .3s;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -ms-transition: .3s;
        -o-transition: .3s;
    }

    img {
        width: 150px;
    }

    .nav-list {
        color: #fff;
        display: flex;
        gap: 25px;

        a {
            font-family: 'Monument - UltraBold';
            position: relative;
        }

        a:link {
            color: #fff;
        }

        a:visited {
            color: #fff;
        }

        a::after {
            content: '';
            background-color: #fff;
            position: absolute;
            height: 2px;
            left: 0;
            bottom: 0px;
            width: 0%;
            transition: 0.3s;
        }

        a:hover::after {
            width: 100%;
        }
    }
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 50px;
    text-shadow: 0px 3px 5px #000;

    h1 {
        font-family: 'Monument - UltraBold';
        font-size: 150px;
        color: #EA4DBF;
    }

    h2 {
        color: #DED8DE;
        font-family: 'Monument - UltraBold';
        font-size: 75px;
    }

    p {
        font-family: 'Monument - Regular';
        font-size: 30px;
        color: #DED8DE;
    }
}

.sobre {
    width: 100vw;
    background-color: #DED8DE;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75px;
    padding: 100px 250px;

    img {
        height: 45vh;
    }

    .section-p {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    p {
        font-family: 'Monument - Regular';
        font-size: 28px;

        span {
            font-family: 'Monument - UltraBold';
        }
    }
}

.estilos {
    width: 100vw;
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 250px 0;
    gap: 30px;
    text-shadow: 0px 3px 5px #000;

    h2 {
        color: #EA4DBF;
        font-family: 'Monument - UltraBold';
        font-size: 50px;
    }

    p {
        color: #DED8DE;
        font-family: 'Monument - Regular';
        text-align: center;
        font-size: 26px;
    }

    span {
        color: #EA4DBF;
    }
}

.ballet {
    width: 100vw;
    padding-top: 100px;

    img {
        width: 100vw;
        box-shadow: 0px 150px 53px 56px rgba(255, 255, 255, 1);
        z-index: -1;
    }

    div {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin-top: -125px;
        text-shadow: 0px 3px 5px #000;
    }

    .p1 {
        color: #EA4DBF;
        font-family: 'Monument - UltraBold';
        font-size: 20px;
    }

    .p2 {
        color: #DED8DE;
        font-family: 'Monument - Regular';
        text-align: center;
        font-size: 36px;
    }

    .p3 {
        color: #EA4DBF;
        font-family: 'Monument - UltraBold';
        font-size: 20px;
    }
}

.artistas {
    width: 100vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 240px;

    p {
        color: #7E00E5;
        font-family: 'Monument - Regular';
        text-align: center;
        font-size: 24px;
    }
}

.planos {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 100px 250px 50px;
    text-shadow: 0px 3px 5px #000;

    p {
        color: #DED8DE;
        font-family: 'Monument - Regular';
        text-align: center;
        font-size: 24px;
    }

    span {
        color: #EA4DBF;
        font-family: 'Monument - Regular';
        text-align: center;
        font-size: 24px;
    }
}

.contato {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 65px;
    padding: 0 0 100px;

    a {
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    button {
        border: none;
        background-color: #EA4DBF;
        color: #000;
        font-size: 25px;
        font-family: 'Monument - Regular';
        padding: 15px 30px;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
        cursor: pointer;
        transition: .3s ease-in-out;
        -webkit-transition: .3s ease-in-out;
        -moz-transition: .3s ease-in-out;
        -ms-transition: .3s ease-in-out;
        -o-transition: .3s ease-in-out;
    }

    button:hover {
        font-size: 30px;
        color: #DED8DE;
        box-shadow: 0px 10px 24px 3px rgba(222, 216, 222, 1);
    }

    iframe {
        width: 650px;
        height: 450px;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
    }
}

footer {
    width: 100vw;
    background-color: #EA4DBF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
    gap: 30px;

    .share {
        display: flex;
        gap: 5px;
    }

    a {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    img {
        transition: .3s ease-in-out;
        -webkit-transition: .3s ease-in-out;
        -moz-transition: .3s ease-in-out;
        -ms-transition: .3s ease-in-out;
        -o-transition: .3s ease-in-out;
    }

    img:hover {
        width: 50px;
        height: 50px;
    }

    p {
        font-family: 'Monument - Regular';
        font-size: 14px;
    }
}

@media screen and (max-width: 1600px) {

    header {
        height: 60px;
        gap: 30px;

        img {
            width: 100px;
        }

        .nav-list {
            gap: 20px;

            a {
                font-size: 10px;
            }
        }
    }

    main {
        padding-bottom: 50px;

        h1 {
            font-size: 100px;
        }

        h2 {
            font-size: 50px;
        }

        p {
            font-size: 16px;
        }
    }

    .sobre {

        p {
            font-size: 18px;
        }
    }

    .estilos {

        h2 {
            font-size: 35px;
        }

        p {
            font-size: 18px;
        }
    }

    .ballet {

        img {
            box-shadow: 0px 100px 53px 56px rgba(255, 255, 255, 1);
        }

        div {
            margin-top: -90px;
        }

        .p1 {
            font-size: 16px;
        }

        .p2 {
            font-size: 28px;
        }

        .p3 {
            font-size: 16px;
        }
    }

    .artistas {
        padding: 0 150px;

        p {
            font-size: 16px;
        }
    }

    .planos {

        p {
            font-size: 20px;
        }

        span {
            font-size: 20px;
        }
    }

    .contato {

        button {
            font-size: 20px;
        }

        button:hover {
            font-size: 24px;
        }

        iframe {
            width: 500px;
            height: 300px;
        }
    }

    footer {
        padding: 25px;
        gap: 30px;

        .share {
            gap: 3px;
        }

        a {
            width: 40px;
            height: 40px;
        }

        img {
            width: 35px;
            height: 35px;
        }

        img:hover {
            width: 40px;
            height: 40px;
        }

        p {
            font-size: 8px;
        }
    }
}

@media screen and (max-width: 1030px) {
    .video-bg video {
        left: -82%;
        overflow-x: hidden;
    }

    header {
        justify-content: space-between;
        padding-right: 50px;

        .mobile-menu {
            display: block;
        }

        .mobile-menu.active .line1 {
            transform: rotate(-45deg) translate(-8px, 8px);
            -webkit-transform: rotate(-45deg) translate(-8px, 8px);
            -moz-transform: rotate(-45deg) translate(-8px, 8px);
            -ms-transform: rotate(-45deg) translate(-8px, 8px);
            -o-transform: rotate(-45deg) translate(-8px, 8px);
        }

        .mobile-menu.active .line2 {
            opacity: 0;
        }

        .mobile-menu.active .line3 {
            transform: rotate(45deg) translate(-5px, -7px);
            -webkit-transform: rotate(45deg) translate(-5px, -7px);
            -moz-transform: rotate(45deg) translate(-5px, -7px);
            -ms-transform: rotate(45deg) translate(-5px, -7px);
            -o-transform: rotate(45deg) translate(-5px, -7px);
        }

        .nav-list {
            position: absolute;
            top: 50px;
            right: 0;
            width: 40vw;
            height: 100vh;
            background: #000;
            flex-direction: column;
            align-items: flex-end;
            padding-right: 30px;

            transform: translate(100%);
            -webkit-transform: translate(100%);
            -moz-transform: translate(100%);
            -ms-transform: translate(100%);
            -o-transform: translate(100%);

            transition: transform .3s ease-in;
            -webkit-transition: transform .3s ease-in;
            -moz-transition: transform .3s ease-in;
            -ms-transition: transform .3s ease-in;
            -o-transition: transform .3s ease-in;

            a {
                margin: 30px 0;
                opacity: 1;
                font-size: 18px;
            }
        }

        .nav-list.active {
            transform: translate(0);
            -webkit-transform: translate(0);
            -moz-transform: translate(0);
            -ms-transform: translate(0);
            -o-transform: translate(0);
        }
    }

    main {
        padding-bottom: 100px;

        h1 {
            font-size: 75px;
        }

        h2 {
            font-size: 50px;
        }

        p {
            font-size: 16px;
        }
    }

    .sobre {
        flex-direction: column;
        height: 60vh;
        gap: 50px;
        padding: 200px 50px;

        img {
            height: 25vh;
        }

        .section-p {
            gap: 30px;
        }

        p {
            font-size: 22px;
            text-align: center;
        }
    }

    .estilos {
        height: 35vh;
        padding: 200px 50px;
        gap: 30px;

        h2 {
            font-size: 40px;
        }

        p {
            font-size: 24px;
        }
    }

    .ballet {
        width: 100vw;
        padding-top: 100px;

        img {
            width: 175vw;
            position: absolute;
            left: -38%;
            box-shadow: 0px 125px 53px 56px rgba(255, 255, 255, 1);
        }

        .p2 {
            font-size: 30px;
        }
    }

    .artistas {
        padding: 50px;
        margin-top: 465px;
    }

    .planos {
        gap: 25px;
        padding: 100px 50px 50px;
    }
}

@media screen and (max-width: 999px) {

    .artistas {
        padding: 50px;
        margin-top: 380px;
    }
}

@media screen and (max-width: 450px) {

    .whatsapp {
        right: 5px;
        bottom: 5px;
        width: 60px;
        height: 60px;
    }

    .video-bg video {
        top: -30px;
        left: -159%;
    }

    header {
        padding-right: 25px;

        .nav-list {
            width: 75vw;
        }
    }

    main {
        padding-bottom: 90px;

        h1 {
            font-size: 45px;
        }

        h2 {
            font-size: 30px;
        }

        p {
            font-size: 8px;
        }
    }

    .sobre {
        height: 80vh;
        padding: 200px 10px;

        p {
            font-size: 18px;
        }
    }

    .estilos {
        height: 45vh;
        padding: 200px 10px;
        gap: 30px;

        h2 {
            font-size: 30px;
        }

        p {
            font-size: 18px;
        }
    }

    .ballet {
        width: 100vw;
        padding: 300px 20px 0;
        text-align: center;

        img {
            width: 100vw;
            left: 0;
            box-shadow: 0px 125px 53px 56px rgba(255, 255, 255, 1);
        }

        div {
            margin-top: -200px;
            text-shadow: 0px 3px 5px #000;
            gap: 10px;
        }

        .p1 {
            font-size: 20px;
        }

        .p2 {
            font-size: 20px;
        }

        .p3 {
            font-size: 20px;
        }
    }

    .artistas {
        margin-top: 100px;
        padding: 0 20px;

        p {
            font-size: 16px;
        }
    }

    .planos {
        gap: 25px;
        padding: 100px 20px;
    }

    .contato {
        padding: 100px 20px;

        a {
            height: 10vh;
        }

        button {
            font-size: 16px;
        }

        button:hover {
            font-size: 16px;
        }

        iframe {
            width: 360px;
            height: 50vh;
            border-radius: 30px;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            -ms-border-radius: 30px;
            -o-border-radius: 30px;
        }
    }

    footer {
        padding: 25px 50px;

        p {
            text-align: center;
            font-size: 12px;
        }
    }
}

@media screen and (max-width: 380px) {

    main {
        h1 {
            font-size: 36px;
        }
    }

    .sobre {
        p {
            font-size: 16px;
        }
    }

    .estilos {
        padding: 200px 10px 100px;

        p {
            font-size: 18px;
        }
    }

    .ballet {
        padding: 350px 20px 0;
    }

    .artistas {
        margin-top: 125px;
    }

    .planos {
        padding: 100px 20px 0;

        p,
        span {
            font-size: 20px;
        }
    }

    .contato {

        button {
            font-size: 16px;
        }

        button:hover {
            font-size: 16px;
        }

        iframe {
            width: 340px;
            height: 40vh;
        }
    }

    footer {

        p {
            font-size: 8px;
        }
    }
}

@keyframes navLinkFade {
    from {
        transform: translate(50px);
        -webkit-transform: translate(50px);
        -moz-transform: translate(50px);
        -ms-transform: translate(50px);
        -o-transform: translate(50px);
    }

    to {
        transform: translate(0);
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
    }
}